.logo-div {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    padding: 0 1rem;
    width: 100%;
    img {
        width: 100%;
        height: 46px;
    }
}

.form-div {
    padding: 0 1rem;
    margin-top: 3.2rem;
}

.password-lost-text {
    color: var(--color-3);
    font-size: 15px;
    font-weight: 500;
}

.register-text {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.social-div {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    ion-icon {
        width: 20px;
        height: 20px;
        color: white;
    }
}

.mbottom-2 {
    margin-bottom: 2rem
}

.facebook-div {
    background-color: #3B5998;
}

.google-div {
    background-color: #dd4b39;
}

.social-icon {
    width: 23px;
    height: 23px;
}