<ion-content class="background-div">
    <div class="background-div-rounded d-flex">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Adresse</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <div class="input-div-profile center">
            <ion-grid>
                <ion-row>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Adresse<span class="red-star">*</span></label>
                        <input type="text" id="address" class="input-with-icon" placeholder='Entrez une address...' [(ngModel)]="address">
                        <ion-icon src="assets/icon/place.svg" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Code postal<span class="red-star">*</span></label>
                        <input type="text" id="zip" class="input-with-icon" placeholder='Entrez un code postal...' [(ngModel)]="zip">
                        <ion-icon name="map-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Ville<span class="red-star">*</span></label>
                        <input type="text" id="city" class="input-with-icon" placeholder='Entrez une ville...' [(ngModel)]="city">
                        <ion-icon name="business-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <label class="input-label">Pays<span class="red-star">*</span></label>
                        <input type="text" id="country" class="input-with-icon" placeholder='Entrez un pays...' [(ngModel)]="country">
                        <ion-icon name="earth-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <button class="app-btn pointer" (click)="updateUserAddress()">Modifier</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>