.logo-div {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    padding: 0 1rem;
    width: 100%;
    img {
        height: 46px;
        width: 100%;
    }
}

.form-div {
    padding: 0 15px;
    margin-top: 1rem;
}

.password-lost-text {
    color: var(--color-3);
    font-size: 15px;
    font-weight: 500;
}

.register-text {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.mbottom-2 {
    margin-bottom: 2rem
}