<ion-grid class="header-div">
    <ion-row>
        <ion-col size='12' class="center">
            <!-- <h2 class="header-title pointer" (click)="navigateTo('/')">BUSINESS CLOUD</h2> -->
            <img class="logo-header" src="./../../../assets/img/logo-text.png" alt="">

            <div class="header-btn center pointer" (click)="navigateTo('/tabs/notifications')">
                <ion-icon name="notifications-outline" class="app-icon pointer"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>