<ion-content>
    <app-header [headerText]="'Projets'"></app-header>
    <app-add-btn></app-add-btn>
    <app-load-bar [active]="loading"></app-load-bar>
    <ion-grid>
        <ion-row>
            <ion-col size='6'>
                <ion-item class="select-input">
                    <ion-select id="status" placeholder="Statut..." value="0" (ionChange)="filterProjects($event)" okText="Ok" cancelText="Fermer">
                        <ion-select-option value="0">Statut...</ion-select-option>
                        <ion-select-option value="1">Terminé</ion-select-option>
                        <ion-select-option value="2">En retard</ion-select-option>
                        <ion-select-option value="3">En attente / En cours</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size='6'>
                <ion-item class="select-input">
                    <ion-select id="sorting" placeholder="Tri..." value="0" (ionChange)="filterProjects($event)" okText="Ok" cancelText="Fermer">
                        <ion-select-option value="0">Tri...</ion-select-option>
                        <ion-select-option value="1">Date de début &#9660;</ion-select-option>
                        <ion-select-option value="2">Date de début &#9650;</ion-select-option>
                        <ion-select-option value="3">Date de fin &#9660;</ion-select-option>
                        <ion-select-option value="4">Date de fin &#9650;</ion-select-option>
                        <ion-select-option value="5">Revenus &#9660;</ion-select-option>
                        <ion-select-option value="6">Revenus &#9650;</ion-select-option>
                        <ion-select-option value="7">Temps total &#9660;</ion-select-option>
                        <ion-select-option value="8">Temps total &#9650;</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <!-- <ion-col size='2' class="center">
                <button class="app-btn-outline pointer" type="button"><ion-icon name="calendar-outline" class="app-icon calendar-icon"></ion-icon></button>
            </ion-col> -->
            <ion-col size='12' class="center">
                <input type="text" class="input-with-icon" placeholder='Recherche...' [(ngModel)]="searchValue" (keyup)="filterProjects()">
                <ion-icon name="search-outline" class="input-icon"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-content class="scroll-list">
        <ion-refresher slot="fixed" (ionRefresh)="this.refreshData($event)">
            <ion-refresher-content pullingIcon="circular" refreshingSpinner="circles">
            </ion-refresher-content>
        </ion-refresher>
        <ion-list *ngIf="loading">
            <ion-skeleton-text *ngFor="let item of [].constructor(10);" class="skeleton-card" animated></ion-skeleton-text>
        </ion-list>
        <ion-list *ngIf="filteredProjects && !loading">
            <ion-card class="app-card pointer" *ngFor="let project of filteredProjects" (click)="navigateTo('/tabs/show-project/', project.id)">
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size='6'>
                                <h2 class="card-title hide-overflow">{{ project.title }}</h2>
                                <p class="card-text-client hide-overflow">{{ project.clientId.name }}</p>
                                <p class="card-text-date hide-overflow">Fin: {{ project.deadline | date: 'longDate' : 'Europe/France' : 'fr-FR'}}</p>
                            </ion-col>
                            <ion-col size='4'>
                                <h2 class="card-title hide-overflow">&nbsp;</h2>
                                <p [class.card-text-rest]='project.total === 0' [class.card-text-loss]='project.total < 0' [class.card-text-profit]='project.total > 0'>{{ project.total }} €</p>
                                <p class="card-text-time">{{ project.totalHours }} h</p>
                            </ion-col>
                            <ion-col size='2' class="center">
                                <div *ngIf="project.status === 'En attente'" class="status-div-warning"></div>
                                <div *ngIf="project.status === 'En cours'" class="status-div-warning"></div>
                                <div *ngIf="project.status === 'En retard'" class="status-div-danger"></div>
                                <div *ngIf="project.status === 'Terminé'" class="status-div-success"></div>
                            </ion-col>
                            <ion-col size='12' class="center">
                                <div class="progress-input">
                                    <ion-progress-bar *ngIf="project" [value]="project.progression"></ion-progress-bar>
                                    <ion-skeleton-text *ngIf="!project" style="width:100%;height: 13px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ion-content>
</ion-content>