<ion-content class="background-div">
    <div class="background-div-rounded">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Projet</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size='2' class="center pb-4 pe-0">
                </ion-col>
                <ion-col size='8' class="center bill-title">
                    <p *ngIf="project">{{ project.projectNum }}</p>
                    <ion-skeleton-text *ngIf="!project" style="width:100%;height: 33px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <span *ngIf="project && project.status === 'Terminé'" class="badge status-success">{{ project.status }}</span>
                    <span *ngIf="project && project.status === 'En retard'" class="badge status-danger">{{ project.status }}</span>
                    <span *ngIf="project && (project.status === 'En attente' || project.status === 'En cours')" class="badge status-warning">{{ project.status }}</span>
                    <ion-skeleton-text *ngIf="!project" style="width:40%;height: 24px;border-radius: 10px;margin-top: 8px" animated></ion-skeleton-text>
                </ion-col>
                <ion-col size='2' class="center pb-4 ps-0">
                    <ion-icon name="trash-outline" class="app-icon trash-icon"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size='3' class="center mb-2 mt-1">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='6' class="center mb-2 mt-1">
                    <p class="separate-text">Statistiques</p>
                </ion-col>
                <ion-col size='3' class="center mb-2 mt-1">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Progression</label>
                    <div class="progress-input">
                        <ion-progress-bar *ngIf="project" [value]="progression"></ion-progress-bar>
                        <ion-skeleton-text *ngIf="!project" style="width:100%;height: 13px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                    </div>
                </ion-col>
                <ion-col size='12' class="center" *ngIf="project && (billableTime && !project.fixedRate)">
                    <div class="stat-card">
                        <div class="icon-stat-card">
                            <div class="icon-div center">
                                <ion-icon name="time-outline" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-stat-card">
                            <p class="input-label">Temps facturable</p>
                            <p class="stat-green">{{ billableTime }} heures</p>
                        </div>
                    </div>
                </ion-col>
                <ion-skeleton-text *ngIf="!project" style="width:100%;height: 70px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                <ion-col size='12' class="center" *ngIf="project && (project.fixedRate || project.hourlyRate)">
                    <div class="stat-card">
                        <div class="icon-stat-card">
                            <div class="icon-div center">
                                <ion-icon src="assets/icon/money.svg" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-stat-card">
                            <p *ngIf="project.hourlyRate" class="input-label">Coût ({{ project.hourlyRate }} € /heure)</p>
                            <p *ngIf="project.fixedRate" class="input-label">Coût</p>
                            <p *ngIf="project.hourlyRate" class="stat-green">{{ project.hourlyRate * billableTime }} €</p>
                            <p *ngIf="project.fixedRate" class="stat-green">{{ project.fixedRate }} €</p>
                        </div>
                    </div>
                </ion-col>
                <ion-skeleton-text *ngIf="!project" style="width:100%;height: 70px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                <ion-col size='12' class="center" *ngIf="project">
                    <div class="stat-card">
                        <div class="icon-stat-card">
                            <div class="icon-div center">
                                <ion-icon src="assets/icon/money.svg" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-stat-card">
                            <p class="input-label">Dépenses supplémentaires</p>
                            <p class="stat-red">{{ project.billing?.additionalExpense ? project.billing?.additionalExpense : 0}} €</p>
                        </div>
                    </div>
                </ion-col>
                <ion-skeleton-text *ngIf="!project" style="width:100%;height: 70px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                <ion-col size='12' class="center" *ngIf="project">
                    <div class="stat-card">
                        <div class="icon-stat-card">
                            <div class="icon-div center">
                                <ion-icon src="assets/icon/money.svg" class="app-icon"></ion-icon>
                            </div>
                        </div>
                        <div class="text-stat-card">
                            <p class="input-label">Montant facturable</p>
                            <p class="stat-green">{{ project.fixedRate ? project.fixedRate + (project.billing?.additionalExpense ? project.billing?.additionalExpense : 0) : project.hourlyRate * billableTime + (project.billing?.additionalExpense ? project.billing?.additionalExpense
                                : 0) }} €</p>
                        </div>
                    </div>
                </ion-col>
                <ion-skeleton-text *ngIf="!project" style="width:100%;height: 70px;border-radius: 10px;margin: 0;margin-top: 10px;" animated></ion-skeleton-text>
                <ion-col size='3' class="center mb-2 mt-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='6' class="center mb-2 mt-2">
                    <p class="separate-text">Actions</p>
                </ion-col>
                <ion-col size='3' class="center mb-2 mt-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <button class="app-btn pointer" (click)="showCalendarModal()">
                        <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;Voir le calendrier
                    </button>
                </ion-col>
                <ion-col size='12' class="center mb-2" (click)="redirectToExpense()">
                    <button class="app-btn pointer"><ion-icon src="/assets/icon/moneyFill.svg"></ion-icon>&nbsp;&nbsp;Ajouter une dépense</button>
                </ion-col>
                <ion-col size='12' class="center mb-2" (click)="showListExpenseModal()">
                    <button class="app-btn pointer"><ion-icon name="list"></ion-icon>&nbsp;&nbsp;Liste des dépenses</button>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <button class="app-btn pointer" (click)="showAddTimeModal()"><ion-icon name="time"></ion-icon>&nbsp;&nbsp;Enregistrer du temps</button>
                </ion-col>
                <ion-col size='12' class="center mb-2">
                    <button class="app-btn pointer"><ion-icon name="document-text"></ion-icon>&nbsp;&nbsp;Transformer en facture</button>
                </ion-col>
                <ion-col size='3' class="center mb-2 mt-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='6' class="center mb-2 mt-2">
                    <p class="separate-text">Informations</p>
                </ion-col>
                <ion-col size='3' class="center mb-2 mt-2">
                    <div class="separate-div"></div>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Client</label>
                    <input *ngIf="client" type="text" id="client" class="input-with-icon" placeholder='Sélectionnez un client...' [(ngModel)]="client.name" [readonly]="edit">
                    <ion-skeleton-text *ngIf="!client" style="width:100%;height: 40px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Email</label>
                    <input *ngIf="client" type="email" id="email" class="input-with-icon" placeholder='Entrez un email...' [(ngModel)]="client.email" [readonly]="edit">
                    <ion-skeleton-text *ngIf="!client" style="width:100%;height: 40px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-2">
                    <label class="input-label">Téléphone</label>
                    <input *ngIf="client" type="tel" id="phone" class="input-with-icon" placeholder='Entrez un téléphone...' [(ngModel)]="client.phone" [readonly]="edit">
                    <ion-skeleton-text *ngIf="!client" style="width:100%;height: 40px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='6' class="start mb-2">
                    <label class="input-label">Création</label>
                    <input *ngIf="project" type="date" id="dateC" class="input-without-icon" placeholder='Création' [(ngModel)]="project.createdAt" [readonly]="edit">
                    <ion-skeleton-text *ngIf="!project" style="width:100%;height: 40px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='6' class="start mb-2">
                    <label class="input-label">Échéance</label>
                    <input *ngIf="project" type="date" id="dateE" class="input-without-icon" placeholder='Échéance' [(ngModel)]="project.deadline" [readonly]="edit">
                    <ion-skeleton-text *ngIf="!project" style="width:100%;height: 40px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                    <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                </ion-col>
                <ion-col size='12' class="start mb-3">
                    <label class="input-label">Description du projet</label>
                    <textarea *ngIf="project" type="text" id="description" class="textarea-without-icon" placeholder='Entrez une description...' [(ngModel)]="project.description" [readonly]="edit"></textarea>
                    <ion-skeleton-text *ngIf="!project" style="width:100%;height: 150px;border-radius: 10px;margin: 0;" animated></ion-skeleton-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>