<ion-content class="background-div">
    <div class="background-div-rounded d-flex">
        <div class="back-arrow-absolute center">
            <ion-row class="w-100">
                <ion-col size='2' class="center">
                    <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
                </ion-col>
                <ion-col size='8'>
                    <h2 class="header-title text-center hide-overflow">Informations</h2>
                </ion-col>
                <ion-col size='2' class="end">
                </ion-col>
            </ion-row>
        </div>
        <div class="input-div-profile center">
            <ion-grid>
                <ion-row>
                    <ion-col size='12' class="center mb-4">
                        <div *ngIf="(!avatar && !selectedPicture) || !user" class="w-100 center">
                            <ion-skeleton-text *ngIf="!user" class="avatar-profile-skeleton" animated></ion-skeleton-text>
                        </div>
                        <div *ngIf="!avatar && !selectedPicture && user && !user.avatar" class="w-100 center">
                            <div class="img-responsive" alt="" style="background-image: url('https://eu.ui-avatars.com/api/?name={{ user?.name }}&background=ececec&size=128&color=2865a2&bold=true');" (click)="showLightbox()">
                            </div>
                            <ng-image-fullscreen-view [images]="[{image: avatar}]" [imageIndex]="0" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>
                        </div>
                        <div *ngIf="avatar && !selectedPicture" class="w-100 center">
                            <div class="img-responsive" alt="" style="background-image: url('{{ avatar }}');" (click)="showLightbox()">
                            </div>
                            <ng-image-fullscreen-view [images]="[{image: avatar}]" [imageIndex]="0" [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>
                        </div>
                        <div *ngIf="selectedPicture" class="w-100 center">
                            <image-cropper [imageChangedEvent]="selectedPicture" [maintainAspectRatio]="true" [aspectRatio]="3/3" format="png" (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <button *ngIf="!selectedPicture" class="app-btn pointer" (click)="selectFile()"><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Appareil Photo</button>
                        <button *ngIf="selectedPicture" class="app-btn pointer" (click)="upload()">Valider</button>
                        <input type="file" #file class="file-input" hidden (change)="fileChangeEvent($event)" accept="image/*">
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Nom et Prénom<span class="red-star">*</span></label>
                        <input type="text" id="name" class="input-with-icon" placeholder='Nom complet' [(ngModel)]="name">
                        <ion-icon name="person-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Email<span class="red-star">*</span></label>
                        <input type="email" id="email" class="input-with-icon" placeholder='Email' [(ngModel)]="email">
                        <ion-icon name="mail-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">
                        <label class="input-label">Téléphone</label>
                        <input type="tel" id="phone" class="input-with-icon" placeholder='Téléphone' [(ngModel)]="phone">
                        <ion-icon name="call-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-4">
                        <label class="input-label">Date de naissance</label>
                        <input type="text" id="birthdayDate" class="input-with-icon" placeholder='Date de naissance' [(ngModel)]="birthdayDate">
                        <ion-icon name="calendar-outline" class="input-icon-with-label"></ion-icon>
                    </ion-col>
                    <ion-col size='12' class="start mb-2">

                        <button class="app-btn pointer" (click)="updateUserInfo()">Modifier</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>