<ion-content>
    <ion-grid class="header-div-snd">
        <ion-row>
            <ion-col size='2' class="start">
                <ion-icon name="chevron-back-outline" class="app-icon pointer" (click)="nagivateBack()"></ion-icon>
            </ion-col>
            <ion-col size='8' class="center p-0">
                <ion-skeleton-text *ngIf="!conversation" style="width:80%;height: 24px;border-radius: 10px;margin-top: 8px;" animated></ion-skeleton-text>
                <h2 class="header-title center text-center hide-overflow" *ngIf="conversation">{{ target.name }} <span class="connexion-dot" [class.connected]="target?.isConnected" [class.disconnected]="!target?.isConnected"></span></h2>
            </ion-col>
            <ion-col size='2' class="end">
                <a *ngIf="target && target.phone" href="{{ 'tel:' + target.phone }}">
                    <ion-icon name="call" class="app-icon pointer"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-content #list class="scroll-list">
        <ion-list class="message-div">
            <ion-grid class="message-div">
                <ion-row class="w-100" *ngFor="let message of messages; let i=index" [class.start]='message.userId !== accountService.user.id' [class.end]='message.userId === accountService.user.id' [class.mb-2]='messages[i + 1] && messages[i].userId !== messages[i + 1].userId'>
                    <div class="new-separator" *ngIf="!message.seen && message.userId !== accountService.user.id">
                        <hr>
                        <p>Nouveaux messages</p>
                        <hr>
                    </div>
                    <div class="message" [class.other-message]='message.userId !== accountService.user.id' [class.my-message]='message.userId === accountService.user.id'>
                        <p class="center-left">{{ message.text }}</p>
                    </div>
                    <p [class.other-time]='message.userId !== accountService.user.id' [class.my-time]='message.userId === accountService.user.id'>{{ message.createdAt | date: 'short' : 'Europe/France' : 'fr-FR' }}</p>
                </ion-row>
            </ion-grid>
        </ion-list>
    </ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size='9' class="center">
                <div class="center w-100">
                    <input type="text" id="text" class="input-with-icon" (click)="updateSeen()" placeholder='Écrivez un message...' [(ngModel)]="message">
                </div>
            </ion-col>
            <ion-col size='3' class="center p-0">
                <button class="app-btn-msg pointer" (click)="sendMessage()" type="button">Envoyer</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>